 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="何润">
  <meta name="description" content="何润">
  <meta name="author" content="C盘">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>何润</title>

  <!--icheck-->
  <link href="/muban/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="/muban/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="/muban/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="/muban/js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="/muban/css/clndr.css" rel="stylesheet">


  <!--common-->
  <link href="/muban/css/style.css" rel="stylesheet">
  <link href="/muban/css/style-responsive.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/muban/js/html5shiv.js"></script>
  <script src="/muban/js/respond.min.js"></script>
  <![endif]-->